[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synapse = ">=2.144.0"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"

[requires]
python_version = "3.11"
